{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings:</h2>
    {% for listing in listings %}
            <a href="{% url 'listing_page' listing.title %}" style="color:black">
                {% if listing.image_url %}
                    <img src={{listing.image_url}} width="400" >
                {% endif %}
                <h4>{{ listing.title }}</h4>
                {% if listing.highest_bid == -1 %}
                    <h5>Price: ${{ listing.starting_bid }}</h5>
                {% else %}
                    <h5>Price: ${{ listing.highest_bid }}</h5>
                {% endif %}
                <h6>{{ listing.description }}</h6>
                <h6>Creation date: {{ listing.creation_date }}</h6>
            </a>
        <hr>
    {% endfor %}
{% endblock %}